[submodule "Carthage/Checkouts/RxGesture"]
	path = Carthage/Checkouts/RxGesture
	url = https://github.com/DanielAsher/RxGesture.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/RxSegue"]
	path = Carthage/Checkouts/RxSegue
	url = https://github.com/RxSwiftCommunity/RxSegue.git
[submodule "Carthage/Checkouts/FeatherweightRouter"]
	path = Carthage/Checkouts/FeatherweightRouter
	url = https://github.com/FeatherweightLabs/FeatherweightRouter.git
